services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ventura_user
      POSTGRES_PASSWORD: ventura_pass
      POSTGRES_DB: ventura_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: